---
import BaseLayout from "../layouts/BaseLayout.astro";
import Folder from "../components/elements/Folder.astro";
import Window from "../components/elements/Window.astro";
import Searchbar from "../components/elements/Searchbar.astro";
import MoreBtn from "../components/elements/MoreBtn.astro";
import Flagbar from "../components/elements/Flagbar.astro";
import PictureSelected from "../components/elements/PictureSelected.astro";
import Footer from "../components/Footer.astro";
import Picture from "astro/components/Picture.astro";
import PictureFile from "../components/elements/PictureFile.astro";

import texturefullBowl from "../assets/img/screen-texturefulbowl.jpg";
import plantinonthecover from "../assets/img/screen-plantinonthecover.jpg";
import picturebarcelona from "../assets/img/self-picturebarcelona.jpg";
import colourportrait from "../assets/img/self-colourportrait.jpg";
import arrowHero from "../assets/svg/hero-arrow.svg";
import arrowPlantin from "../assets/svg/plantin-arrow.svg";
import selfprofesh from "../assets/img/self-profesh.png";
import artfish from "../assets/img/art-fish.png";
import devineshirt from "../assets/img/devine-shirt.png";
import "../styles/index.css";
---

<BaseLayout>
  <div class="body__container index">
    <article class="header">
      <div class="header__text">
        <p class="text--center text--medium text--abovetitle">
          Hi! I'm <span class="error-line error-line--hero">Esther</span>
        </p>
        <h2 class="text--center text--poster text--title">designer</h2>
        <p class="text--center text--poster text--subtitle">
          and all-around creative
        </p>
      </div>
      <div class="header__icon">
        <div class="header__icon__folder">
          <Folder title="important-document">
            <div class="scribble--hero">
              <svg
                class="scribble__arrow--hero"
                xmlns="http://www.w3.org/2000/svg"
                width="141"
                height="112"
                viewBox="0 0 141 112"
                fill="none"
              >
                <path
                  class="scribble__arrow--hero--line"
                  d="M2 109.639C2 109.516 2.04868 105.077 2.40642 97.1973C2.68175 91.1327 7.91139 79.9997 14.7773 65.7395C18.745 57.4988 22.2593 53.0254 27.9293 47.052C37.4919 36.9777 49.0017 29.4974 59.8132 23.8029C74.6188 16.0048 89.3085 13.5016 99.6242 12.3691C105.158 11.9797 111.3 11.9667 114.922 12.026C118.545 12.0853 119.462 12.2173 120.407 12.3533"
                  stroke="#F12E1D"
                  stroke-width="4"
                  stroke-linecap="round"></path>
                <path
                  class="scribble__arrow--hero--arrow"
                  d="M123.119 2.00049C124.19 2.48947 133.118 8.69666 138.232 13.096C138.293 13.7945 137.698 14.6686 135.6 16.7211C133.502 18.7736 129.919 21.9779 124.594 26.8923"
                  stroke="#F12E1D"
                  stroke-width="4"
                  stroke-linecap="round"></path>
              </svg>
              <p class="color--accent text--scribbles scribble__text--hero">
                Check this out
              </p>
            </div>
          </Folder>
        </div>
        <div class="header__icon__file">
          <PictureFile
            img={selfprofesh}
            size="74x100"
            title="most profesh picture I could find"
          />
        </div>
      </div>
    </article>
    <article class="works">
      <h2 class="color--primary text--right text--section">creative works</h2>
      <section class="works__center works__one fullscreen--center">
        <p class="text--center text--poster text--subtitle works__one__title">
          I design websites
        </p>
        <Window
          website={true}
          title="texturefull bowl"
          img={texturefullBowl}
          link="https://esthervandriessche.be/texturefullbowl/"
          linkWidth="1480"
        />
        <Searchbar text="search for free time here ..." />
        <p class="works__p">And use code to bring them to life</p>
      </section>
      <section class="works__center works__two fullscreen--center">
        <p class="text--abovetitle text--medium text--center">
          But I make more
        </p>
        <p class="text--poster text--title color--primary works__two__title">
          than just websites
        </p>
        <p class="text--center">
          I design digital (and sometimes non-digital) experiences
        </p>
        <MoreBtn />
      </section>
      <section class="works__center works__three fullscreen--center">
        <Window
          website={true}
          title="texturefull bowl"
          img={plantinonthecover}
          link="https://esther-vd.github.io/INT3-esthervandriessche-Plantin/"
          linkWidth="1480"
        >
          <div class="scribble--plantin">
            <p class="color--accent text--scribbles scribble__text--plantin">
              like this!
            </p>
            <svg
              class="scribble__arrow--plantin"
              xmlns="http://www.w3.org/2000/svg"
              width="101"
              height="126"
              viewBox="0 0 101 126"
              fill="none"
            >
              <path
                class="scribble__arrow--plantin--line"
                d="M2 2C2.12654 2 8.0289 2.10145 20.8689 3.14366C36.0577 4.37653 46.0814 8.50062 51.0193 10.9787C64.4889 17.7387 70.2653 26.2984 76.322 37.3827C78.4902 41.3507 80.184 47.3409 81.8898 54.6223C83.5957 61.9037 84.8349 70.5007 85.5671 80.0773C86.2993 89.6538 86.4869 99.9493 86.6803 110.557"
                stroke="#F12E1D"
                stroke-width="4"
                stroke-linecap="round"></path>
              <path
                class="scribble__arrow--plantin--arrow"
                d="M77.709 116.834C79.0824 117.607 83.0935 121.062 86.3811 123.741C88.6377 123.931 91.7192 120.892 95.1176 118.051C95.9607 117.598 96.9142 117.264 98.4683 116.804"
                stroke="#F12E1D"
                stroke-width="4"
                stroke-linecap="round"></path>
            </svg>
          </div>
        </Window>
        <p class="text--poster text--subtitle works__three__title">
          I tell Stories
        </p>
        <p class="works__p">with design and code</p>
        <Flagbar text="storyteller" />
      </section>
      <section class="works__noncenter">
        <div>
          <h2>See more work</h2>
          <p>
            <em>A collection of my creative digital works</em>. And the projects
            I had the most fun creating, which I look back on fondly. They were
            all challenging in their own ways and are in no way perfect... (but
            I'm still a little proud to show them off!)
          </p>
        </div>
        <ul class="works__last__folder__container">
          <li>
            <a href="/portfolio/visual/">
              <Folder title="visual design" />
            </a>
          </li>
          <li>
            <a href="/portfolio/code/">
              <Folder title="creative coding" />
            </a>
            <li>
              <a href="/portfolio/experience/">
                <Folder title="experience design" />
              </a>
            </li>
          </li>
        </ul>
      </section>
    </article>
    <article class="intro">
      <h2 class="color--primary text--right text--section">about me</h2>
      <section class="about__one about__center fullscreen--center">
        <p class="text--center text--medium text--abovetitle">
          You've seen what I do
        </p>
        <p class="text--poster text--title text--center about__title">
          But who <span class="error-line error-line--about">am</span> I?
        </p>
        <div class="about__container">
          <div class="about__img">
            <PictureSelected
              extraClass="about__img__selected"
              title="coloured soft paster self portrait"
              img={colourportrait}
              width="153"
              height="255.11"
            />
            <Window
              extraClass="about__img__window"
              title="This is me"
              img={picturebarcelona}
            />
          </div>
          <div class="about__introduction">
            <h2>Esther van driessche</h2>
            <p>
              I'm a <em>designer born in Belgium</em>. I enjoy doing anything
              creative, from drawing and making things from cardboard to sewing
              my own clothes. While my heart belongs to design, I'm (not so)
              secretly also in love with coding. I love a well-organised
              database and animating my design with code or in After Effects.
            </p>
          </div>
        </div>
      </section>
      <section class="about__center about__two">
        <div class="about__two__container">
          <p class="text--center text--medium text--abovetitle about__two__sub">
            I thrive in
          </p>
          <p class="text--poster text--subtitle text--center">
            organised <span class="error-line error-line--chaos">chaos</span>
          </p>
          <div class="about__bubble"><Flagbar text="creativity" /></div>
        </div>
        <div class="window__repeat__container">
          <Window
            extraClass="window__repeat"
            title="fun fact about me"
            text={"I thrive in organised chaos. Love my titles big and bold and my text put sideways. My drawings show my love for contrast, which is why ink is my favourite material to use. I don't have a favourite colour, but somehow end up using red as an accent colour in too many of my designs and drawings."}
          />
          <Window
            extraClass="window__repeat"
            title="fun fact about me-edit"
            text={"I thrive in organised chaos. Love my titles big and bold and my text put sideways. My drawings show my love for contrast, which is why ink is my favourite material to use. I don't have a favourite colour, but somehow end up using red as an accent colour in too many of my designs and drawings."}
          />
          <Window
            extraClass="window__repeat"
            title="fun fact about me-v2"
            text={"I thrive in organised chaos. Love my titles big and bold and my text put sideways. My drawings show my love for contrast, which is why ink is my favourite material to use. I don't have a favourite colour, but somehow end up using red as an accent colour in too many of my designs and drawings."}
          />
          <Window
            extraClass="window__repeat"
            title="fun fact-final"
            text={"I thrive in organised chaos. Love my titles big and bold and my text put sideways. My drawings show my love for contrast, which is why ink is my favourite material to use. I don't have a favourite colour, but somehow end up using red as an accent colour in too many of my designs and drawings."}
          />
          <Window
            extraClass="window__repeat"
            title="fun fact-final-final"
            text={"I thrive in organised chaos. Love my titles big and bold and my text put sideways. My drawings show my love for contrast, which is why ink is my favourite material to use. I don't have a favourite colour, but somehow end up using red as an accent colour in too many of my designs and drawings."}
          />
          <Window
            extraClass="window__repeat"
            title="fun fact-final-final-v2"
            text={"I thrive in organised chaos. Love my titles big and bold and my text put sideways. My drawings show my love for contrast, which is why ink is my favourite material to use. I don't have a favourite colour, but somehow end up using red as an accent colour in too many of my designs and drawings."}
          />
        </div>
      </section>
      <section class="about__education">
        <div class="about__education__container">
          <PictureSelected
            extraClass="about__education__img"
            title="a drawing of a fish in a blue fishbowl with white bubbles"
            img={artfish}
            width="754"
            height="484"
          />
          <div class="devine-shirt__container about__education__shirt">
            <Picture
              src={devineshirt}
              alt="a black shirt with the Devine logo"
              class="devine-shirt"
            />
            <p>Devine-Uniform</p>
          </div>
        </div>
        <div>
          <h2>my education</h2>
          <p class="education__p">
            I studied science with 8 hours of math in high school, where I
            discovered my love for programming anew after using scratch when I
            was younger.
          </p>
          <p class="education__p">
            I stumbled upon Devine by accident and immediately knew this would
            be the school for me. <em
              >Devine balances all the areas I wanted to study further: the
              creative the logical and the human.</em
            > In my third year at the Devine I got the change to spend a semester
            at <em> Hanyang in south-Korea.</em>
          </p>
          <p class="education__p">
            When I was twelve, I began attending the Sint-Lucas Academie, an art
            academy in Ghent. After seven years in the kids program, I started
            the two-year initiation course. I completed the initiation course
            and got the degree when I was 19.
          </p>
        </div>
      </section>
    </article>
  </div>
  <Footer />
</BaseLayout>
